.card-services {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--color-neutral-white);
    width: 50%;
}

.card-services div {
    color: var(--color-neutral-very-dark-desaturated-blue);
    font-family: var(--font-fraunces);
    text-align: justify;
    padding: 0 6rem;
}

.card-services div h2 {
    font-weight: bold;
    font-size: 2rem;
    max-width: 400px;
    line-height: 2.5rem;
}

.card-services div p {
    color: var(--color-neutral-dark-grayish-blue);
    font-weight: 600;
    font-family: var(--font-barlow);
    margin: 2rem 0;
}

.card-services div a.box {
    display: inline-block;
    text-decoration: none;
    width: 145px;
    text-align: center;
    color: var(--color-neutral-very-dark-desaturated-blue);
}

.card-services div a .text {
    text-transform: uppercase;
    font-weight: bold;
}

@media screen and (max-width: 1230px) {
    .card-services div {
        padding: 0 3rem;
    }
}

@media screen and (max-width: 1000px) {
    .card-services {
        width: 100%;
    }
    
    .card-services div {
        padding: 0 1rem;
    }
}


@media screen and (max-width: 1000px) {
    .card-services div {
        padding: 4rem 2rem;
        text-align: center;
    }

    .card-services div h2 {
        max-width: 100%;
    }
}