.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin: 0 1.5rem;
}

.menu li a {
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 500;
    color: var(--color-neutral-white);
    cursor: pointer;
}

.menu li a:hover {
    text-decoration: underline;
}