.card-project {
    box-sizing: border-box;
    width: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 18.68rem 6rem 4rem;
}

.card-project h3 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--font-fraunces);
    text-transform: capitalize;
    padding: 2rem 0;
}

.card-project p {
    font-weight: 600;
}
