html,
body {
    font-size: 18px;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-barlow);
    line-height: 1.5rem;
    color: var(--color-neutral-white);
    background-color: #000;
}

.container {
    padding: 2rem 2rem 0;
}