html,
body {
  font-size: 18px;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-barlow);
  line-height: 1.5rem;
  color: var(--color-neutral-white);
  position: relative;
}

.container {
  padding: 2rem 2rem 0;
}


@media screen and (max-width: 710px) {
  .container {
    padding: 2rem 1rem 0;
  }
}