.title-main {
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: var(--font-fraunces);
    letter-spacing: 8px;
    margin: 5rem 0 8.5rem;
}