.header {
  background-image: url("../../images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header .head-menu {
  display: flex;
  justify-content: space-between;
}

.header .head-menu nav {
  display: flex;
  align-items: center;
}

.header .head-menu nav .menu {
  margin-right: 1.5rem;
}

.header .head-menu nav .menu li a {
  color: var(--color-neutral-white);
  font-weight: 500;
}

.header .head-menu .head .icon-hamburger {
  display: none;
  cursor: pointer;
  width: 1.5rem;
}

@media screen and (max-width: 710px) {
  .header {
    background-image: url("../../images/mobile/image-header.jpg");
    width: 100%;
  }

  .header .head-menu .head .icon-hamburger {
    display: block;
    position: fixed;
    background-color: #3ebfff;
    padding: 0.2rem;
    right: 2rem;
  }

  .header .head-menu .nav {
    display: none;
    position: absolute;
    top: 100%;
    margin-top: 3rem;
    padding: 2rem 0;
    width: 100%;
  }

  .header .head-menu .nav a {
    display: block;
    text-align: center;
  }

  .header .head-menu .nav a .button {
    background-color: var(--color-primary-yellow);
  }

  .header .head-menu .nav,
  .header .head-menu .nav .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-neutral-white);
  }

  .header .head-menu nav .menu {
    margin: 0;
  }

  .header .head-menu .nav .menu li {
    margin-bottom: 1rem;
  }

  .header .head-menu .nav .menu li a {
    color: var(--color-neutral-dark-grayish-blue);
    font-weight: 600;
  }

  .header .head-menu .nav .menu li a .button {
    margin: 0 auto;
  }
}
