.title-testimonial {
  color: var(--color-neutral-grayish-blue);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-family: var(--font-fraunces);
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
}

@media screen and (max-width: 480px) {
  .title-testimonial {
    margin: 2rem 0;
  }
}
